<div class="max-w-2xl mx-auto", style="margin-top:64px">

  <div class="bg-white p-8 rounded-xl shadow border border-gray-200">
    <h1 class="text-2xl font-bold mb-6">Edit Comment</h1>

    <%= render "form",
          blog_post: @blog_post,
          comment: @comment %>
  </div>

</div>
