<% content_for :title, "New blog post" %>

<section class="min-h-screen flex items-center justify-center py-16 px-4 bg-gray-50">
  <div class="w-full mx-auto" style="max-width: 896px;">
    <%= render "form", blog_post: @blog_post %>
  </div>
</section>
